/* this css file will only style the homepage of our site */

#portrait {
width: 300px;
border: solid;
border-width: 10px;
border-color: rgb(134, 172, 177);

}

.centerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 { 
  font-size: 15px;
  color: black;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: solid;
  border-width: 10px;
  border-color: rgb(134, 172, 177);

}


h1 {
  border:solid;
  border-width: 10px;
  border-color: rgb(134, 172, 177);
  font-weight: 600;
  text-align: center;
}

h3 {
  border: solid;
  border-width: 10px;
  border-color: rgb(134, 172, 177);
  
}



body {
  background-color: azure;
}

#me-info {
  border: solid;
  
  border-width: 10px;
  border-color: rgb(179, 216, 221);
  font-weight: 300;

}

#lab-links {
  border: solid;
  border-width: 10px;
  border-color: rgb(179, 216, 221);
  
 

}